.poet-info {
  .col:first-child {
    max-width: 220px;
  }
  margin: 0 30px;
}

img {
  width: 200px;
  border: 2px black solid;
  border-radius: 3%;
  padding: 2px;
}

@media (max-width: 576px) {
  .col {
    font-size: 14px;
  }
}
